:root{
    --color-one:#CAF0F8;
    --color-two:#ADE8F4;
    --color-three:#90E0EF;
    --color-four:#48CAE4;
    --color-five:#00B4D8;
    --color-six:#0096C7;
    --color-seven:#0077B6;
    --color-eight:#023E8A;
    --color-nine:#03045E;
    --color-ten:#6f86d6;
}